.container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.para{
    width: 60%;
    margin-top: 10vh;
    color: #111111;
    text-align: justify;
}

.container-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh;
    gap: 10vh;
    flex-wrap: wrap;
}