.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    transition: all 0.5s;
}

.card-container:hover{
    scale: 1.05;
}

.card-image{
    font-size: 48px;
}

.card-heading{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.card-text{
    width: 90%;
    text-align: center;
    text-decoration: none;
}

@media (max-width:360px) {
    .card-container{
        width: 90vw !important;
    }
    .card-text{
        font-size: 12px;
    }
}